:root {
  --page-height: 11in;
  --page-width: 8.5in;

  --inner-width: 7in;
  --inner-height: 8.5in;

  --col-width: 3.25in;
  --col-height: 9in;
  --col-gutter: 0.5in;
}

.mw {
  font-family: var(--sans-stack);
  font-size: 15px;
  display: table;
  clear: both;
  margin: 1rem 0;
  width: var(--page-width);
  height: var(--page-height);
  font-size: 13px;
  line-height: 1.25;
}

.mw-section {
  display: flex;
  flex-direction: column;
}

.mw-page {
  overflow: hidden;
  position: relative;
  display: flex;
  height: var(--page-height);
  width: var(--page-width);
  margin: 1rem 2rem;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}

.mw-page.mw-odd .mw-header,
.mw-page.mw-odd .mw-pagination,
.mw-page.mw-odd .mw-body {
  right: 0.6in;
  left: 0.9in;
}

.mw-page.mw-even .mw-header,
.mw-page.mw-even .mw-pagination,
.mw-page.mw-even .mw-body {
  right: 0.9in;
  left: 0.6in;
}

.mw-header {
  font-family: var(--serif-stack);
  position: absolute;
  top: 0.5in;
}

.mw-page.mw-odd .mw-pagination,
.mw-page.mw-odd .mw-header {
  text-align: left;
}
.mw-page.mw-even .mw-pagination,
.mw-page.mw-even .mw-header {
  text-align: right;
}

.mw-pagination {
  font-family: var(--serif-stack);
  position: absolute;
  bottom: 0.5in;
}

.mw-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
}

.mw-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: var(--inner-width);
  top: 1in;
  bottom: 1in;
}

.mw-column {
  flex-basis: var(--col-width);
  max-width: var(--col-width);
  flex-grow: 0;
  flex-shrink: 0;
  word-wrap: break-word;
}

.mw-content {
  display: flex;
  flex-direction: row;
}

.mw-column-separator {
  min-width: var(--col-gutter);
  max-height: var(--col-height);
}

.mw :not(pre) > code,
.mw a {
  color: crimson;
}

.mw-footnotes:not(.mw-empty) {
  border-top: 1px solid #efefef;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.mw-footnote {
  display: none;
}

.mw-footnotes .mw-footnote {
  display: block;
}

hr {
  border: none;
  border-top: 1px solid #efefef;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-family: var(--serif-stack);
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

img { max-width:100%; }

pre {
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: #111;
  background-color: #f8f8f8;
  box-shadow: 0 0 5px rgba(0,0,0,0.05) inset;
  padding: 0.5rem;
}

pre > code,
code {
  font-size: 10px;
  font-weight: 200;
  font-family: var(--mono-stack);
}

table {
  table-layout: fixed;
  width: 100%;
}
table tbody :nth-of-type(even) {
  background-color: #f8f8f8;
}
thead th {
  border-bottom: 1px solid #efefef;
  padding: 0.25rem;
}
td {
  padding: 0.25rem;
}