:root {
  --page-height: 11in;
  --page-width: 8.5in;

  --inner-width: 7in;
  --inner-height: 8.5in;

  --col-width: 3.5in;
  --col-height: 8.5in;
  --col-gutter: 0.25in;

  --sans-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --mono-stack: 'Fira Code', Inconsolata, monospace;
}

html {
  font-family: var(--sans-stack);
  font-size: 13px;
  background-attachment: fixed;
}

#editor {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: calc(100vh - 4rem);
  width: calc(100vw - 8.5in - 8rem);
  top: 2rem;
  right: 2rem;
}

#editor > div {
  margin-bottom: 2rem;
}

#editor > textarea {
  font-size: 13px;
  font-family: var(--mono-stack);
  flex: 1 0 auto;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

#editor > div > h1 {
  font-size: 72px;
  margin: 0;
}

#editor > div > p {
  font-size: 17px;
  line-height: 1.5;
  font-family: var(--sans-stack);
}


.mw .break {
  background-color: crimson;
  break-after: always;
  height: 3px;
  width: 100%;
}

.mw-page-column {
  float: left;
  margin-right: 1rem;
}

.mw-page-display {
  display: flex;
}

.mw-page-display > div {
  margin-right: 1rem;
}

.mw {
  display: table;
  clear: both;
  margin-left: 2rem;
  width: var(--page-width);
  height: var(--page-height);
  font-size: 13px;
}

.mw-page {
  position: relative;
  height: var(--page-height);
  width: var(--page-width);
  margin: 2rem auto;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-color: #fff;
}

.mw-page:nth-child(odd) .mw-header,
.mw-page:nth-child(odd) .mw-pagination,
.mw-page:nth-child(odd) .mw-body {
  right: 0.5in;
  left: 0.8in;
}

.mw-page:nth-child(even) .mw-header,
.mw-page:nth-child(even) .mw-pagination,
.mw-page:nth-child(even) .mw-body {
  right: 0.8in;
  left: 0.5in;
}

.mw-header {
  position: absolute;
  top: 0.5in;
}

.mw-page:nth-child(odd) .mw-pagination {
  text-align: left;
}
.mw-page:nth-child(even) .mw-pagination {
  text-align: right;
}

.mw-pagination {
  position: absolute;
  bottom: 0.5in;
}

.mw-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: var(--inner-width);
  height: var(--inner-height);
  top: 1in;
  bottom: 1in;
}

.mw-contents {
  display: flex;
}

.mw-column {
  flex-basis: var(--col-width);
  max-width: var(--col-width);
  flex-grow: 0;
  flex-shrink: 0;
}

.mw-column-separator {
  min-width: var(--col-gutter);
  height: 100%;
}

pre {
  background-color: black;
  padding: 1rem;
  font-size: 9px;
  color: white;
}

pre > code,
code {
  font-size: 11px;
  font-weight: 200;
  font-family: var(--mono-stack);
}

:not(pre) > code {
  color: crimson;
}

.mw-footnotes:not(.mw-empty) {
  border-top: 1px solid lightgrey;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}