:root {
  --sans-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --mono-stack: 'Fira Code', 'Fira Mono', Inconsolata, monospace;
}

html {
  font-family: var(--sans-stack);
  font-weight: 300;
  color: #111;
  background-attachment: fixed;
  background-color: #f2f2f2;
}

body > a {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 100;
}

#react-root {
  display: flex;
  margin: 0.5in auto;
  width: 100%;
  justify-content: space-around;
}

.mw {
  display: block;
  margin: 0 auto;
}

pre {
  background: #f2f2f2;
  color: #333;
  padding: 1rem;
}

p > code {
  font-size: 95%;
  background: #f2f2f2;
  padding: 0.2ch 0.5ch;
}

pre > code {
  font-family: var(--mono-stack);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 95%;
  tab-size: 2;
}
